<div class="col-xs-12">
  <h2 class="pull-left"><%= link_to @project.title, edit_project_path(@project) %> Items</h2>
</div>
<%= render :partial => 'items/index', :locals => { :project => @project } %>
