/* HTML5 reset */

body {
  margin: 0 2% 0 2%;
}
header {
  .jumbotron { margin-bottom: 0;}
  .navbar-toggle {
    border-color: #999;
    .icon-bar { background-color: #777;}
  }
}

#main {
  border: 1px solid #ccc;
  margin-top: 9px;
  margin-bottom: 9px;
  // width: 863px;
  // padding: 18px;
  display: block;

  .project_toolbar, .item_toolbar, .actions, .field { margin-bottom: 10px;}

  a, a:link, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
  div.field_with_errors input {
    background-color: #ffa;
    border: 1px solid red;
  }
  ul {
    width: 70%;
  }
  li {
    list-style: none;
    padding: 3px;
    border-radius: 5px;
    margin: 3px 3px 12px 3px;
    span { float:right; }
  }
  li.done {
    a { color: red; }
    text-decoration: line-through;
  }
  a#clearer { float: right; }
  h1 {
    margin-bottom: 18px;
  }
  h2 {
    margin: 9px;
    text-align: center;
  }
  #notice {
    // background-color: #ffa;
    // text-align: center;
  }
}

footer {
  height: 36px;
  text-align: center;
  clear: both;
  p { margin-bottom: 0; }
}
